<html>
    <head>
        <title>Complaints</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <style>
            .jumbotron{
                margin-top: 0px;
                background-color: rgb(187, 68, 47);
                color: rgb(5, 31, 5);
                text-align: center;
            }
        </style>
      </head>
    <body>
        <h1 class=jumbotron>Complaints</h1>
    <table class ="table table-hover">
    <thead>
      <tr>
        <th width="50px">No</th>
        <th>Name</th>
        <th>Address</th>
        <th>Mobile</th>
        <th>Stb no.</th>
        <th>Mail</th>
        <th>Error</th>
        <th>Msg</th>
        <th>Checkbox</th>
      </tr>
    </thead>
    <tbody>
      <% if(data.length){ 
        for(var i = 0;i < data.length;i++) { %>
      <tr>
        <form method="POST" action="check">
        <td><%=(i+1)%></td>
        <td><%=data[i].Name%></td>
        <td><%=data[i].Address%></td>
        <td><%=data[i].Mobile%></td>
        <td><%=data[i].Stb%></td>
        <td><%=data[i].Mail%></td>
        <td><%=data[i].Error%></td>
        <td><%=data[i].Msg%></td>
        <td><%=data[i].Checkbox%></td>
        <td><input type="checkbox" name = "checklol" id="lol"></td>
        <button>done</button>
        </form>
      </tr>
      <% }
      }else{ %>
      <tr>
        <td colspan="3">No user</td>
      </tr>
    <% } %>
    </tbody>
    </table>

    <script>
        
    </script>

    </body>
    

    </html>