<!DOCTYPE html>
<html>
        <head>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>Welcome <%=data.Name%></title>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
                
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
                <link type="text/css" rel="stylesheet" href="http://dinus.org/assets/mail/mailtip.css"/>
                <script type="text/javascript" src="http://dinus.org/assets/mail/jquery.mailtip.js"></script>
                <script src="https://kit.fontawesome.com/8436e174fd.js" crossorigin="anonymous"></script>


                <style>
                        .jumbotron{
                                background-color: rgba(255, 0, 0, 0.658);
                        
                        }
                        #name
                        {
                                color:rgba(248, 227, 201, 0.993);
                        }
                        
                        .img-thumbnail{
                                width: 300px;
                        }
                        
                        .radiotext {
                                  margin: 10px 10px 0px 0px;
                            }
                        #total{
                          border: none;
                          font-size: 32px;
                        }
                        #pay
                        {
                                float: right;
                        }
                        #navbar-right-link{
                            font-size: 16px;
                            color: #890505;
                            margin-right: 50px;
                            margin-top: 15px;
                            padding: 12px;
                        }
                        #navbar-right-link:hover{
                            color: #bb4747;
                        }
                </style>
              </head>
    <body>
        <% include ./partials/nav-3 %>
        <div class = "container"><h1 class="jumbotron">Welcome <span id = "name"><%= data.Name %></span></h1>
        
        <div class="row">
        <div class="col-md-6"><img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" alt="..." class="img-thumbnail"></div>


        <div class="col-md-6"><div class="panel-group">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#collapse1">Identity Box</a>
                    </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse">
                    <ul class="list-group">
                      <li class="list-group-item">Name : <%= data.Name %></li>
                      <li class="list-group-item">Address : <%= data.Address %></li>
                      <li class="list-group-item" id="stbbb" value = '<%= data.Stb %>'>Stb No. : <%= data.Stb %></li>
                      <li class="list-group-item">Mobile No. : <%= data.Mobile %></li>
                    </ul>
                </div>
              </div>
              </div>
              </div>
              </div>
              <h1>Payment History and Balance</h1>
              <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Month</th>
                            <th scope="col">Paid Status</th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>June</td>
                            <% if(data.June) { %> 
                                <td class="bg-success">Paid</td>
                            <%  } 
                            else { %>
                                <td class="bg-danger">Unpaid</td>
                            <% } %>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>July</td>
                            <% if(data.July) { %> 
                                <td class="bg-success">Paid</td>
                            <%  } 
                            else { %>
                                <td class="bg-danger">Unpaid</td>
                            <% } %>
                          </tr>
                        </tbody>
                      </table>
                
            <div>
            <h1>Select Package</h1>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Package</th>
                    </tr>
                </thead>
                <tbody>
                <form action="/customerPanel/txn" method="POST" autocomplete="off">
                    <input type="hidden" value="<%=data.Stb%>" name="Stb">
                    <input type="hidden" value="<%=data.Mobile%>" name="Mobile">
                    <tr>
                        <td>
                            <div class="radio">
                                <label><input type="radio" id='basic' name="group1" value="153" required><i class="fas fa-rupee-sign"></i> 153</label>
                            </div>
                        </td>
                        <td>
                        <div class="radiotext">
                            <label for='basic'>Basic Pack</label>
                        </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="radio">
                                <label><input type="radio" id='silver' name="group1" value="275"><i class="fas fa-rupee-sign"></i> 275</label>
                           </div>
                        </td>
                        <td>
                            <div class="radiotext">
                                <label for='silver'>Silver Pack</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                      <td>
                          <div class="radio">
                              <label><input type="radio" id='gold' name="group1" value="360"><i class="fas fa-rupee-sign"></i> 360</label>
                         </div>
                      </td>
                      <td>
                          <div class="radiotext">
                              <label for='gold'>Gold Pack</label>
                          </div>
                      </td>
                  </tr>
                  <tr>
                    <td>
                        <div class="radio">
                            <label><input type="radio" id='diamond' name="group1" value="454"><i class="fas fa-rupee-sign"></i> 454</label>
                       </div>
                    </td>
                    <td>
                        <div class="radiotext">
                            <label for='diamond'>Diamond Pack</label>
                        </div>
                    </td>
                </tr>
                    <td>
                        <button type="submit" class="btn btn-primary" style="padding: 10px; font-size: 15px;"><i class="fas fa-shopping-cart"></i> Pay Now</button>
                    </td>
                    </form>
                    </tbody>
           </table>
           </div>
               

             
             <div class="row">
              <center><h1>Send your Complaints to Us !</h1></center>
                  <div class="col-md-4"></div>
                  <div class="col">
                      <div class="panel panel-default">
                              <div class="panel-body">
                                  <div class="col-md-12 row" style="padding:0px;margin-bottom:10px;">
                                      
                                      <div class="col-md-2">
                                          <img src="http://dinus.org/img/fakultas/FIK/cs/cs.svg">
                                          <div style="margin-left:30px;">
                                              <img src="http://dinus.org/img/fakultas/FIK/cs/cs.png" width="70px" height="70px" class="img-circle" style="border:3px solid #052C52;">
                                          </div>
                                      </div>
                                      <div class="col-md-10">
                                          <hr>
                                          <p style="padding-left:55px;font-size:32px;"><strong>KV CABLE</strong></p>
                                          
                                      </div>
                                      
                                      
                                  </div>
          
                                  <form action="/customerPanel/sendComplaint" method="POST">
                                      <table class="table">
                                            <tr>
                                                    <td>
                                                        <input class="form-control" type="text" name = "stb" value="<%= data.Stb %>" readonly >
                                                    </td>
                                            </tr>
                                          <tr>
                                              <td>
                                                  <input type="email" class="form-control"  id="mailtip2" name="mail" placeholder="Your E-Mail (Optional)">
                                              </td>
                                          </tr>
                                          <tr>
                                            <td>
                                                <input class="form-control" type="text" name = "name" placeholder="Name">
                                            </td>
                                        </tr>
                                        <tr>
                                          <td>
                                              <input class="form-control" type="text" name="address" placeholder="<%= data.Address %>" readonly>
                                          </td>
                                      </tr>
                                          <tr>
                                              <td>
                                                  <input class="form-control" type="text" name="error" placeholder="No. displayed on screen" required>
                                              </td>
                                          </tr>
                                          <tr>
                                              <td>
                                                  <textarea class="form-control" rows="4" name= "msg" placeholder="Message text . . ."></textarea>
                                              </td>
                                          </tr>
                                          <tr>
                                              <td>
                                                  <button class="btn btn-danger btn-sm" type="submit" style="width: 100%;"><i class="fa fa-envelope-o" style="padding-right: 5px;"></i> Send</button>
                                              </td>
                                          </tr>
                                      </table>
          
                                  </form>
                              </div>
                          </div>
          
                      </div>
          
                  </div>
            </div>
          </div>
          
          
        
        <script>
          function total()
          {
          var txt = "";
          for(var i=0; i<document.form.group1.length; i++){
             if(document.form.group1[i].checked){
              txt = txt + document.form.group1[i].value + " ";
              document.getElementById("total").value = "Amount to be paid: " + txt;
              window.value = txt;
             }
           }

          }
          function txn()
            {
              var url = 'txn.html?stb=' + document.getElementById("stbbb").value + "&amount=" + window.value;
              window.location.href = url; 
            }

            // $(function comp(){
            //               var info = $('.info');
            //               $('#mailtip2').mailtip({
            //               onselected: function (mail){
            //               info.text('you choosed email: ' + mail)
            //               }
        // });

        // });
        // function comp() {
        //   window.location.href = 'customer.html';
        // }
        </script>
    </body>
</html>