<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Offline Payments</title>

    <link
      href="/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/main.css" />

    <link
      href="/vendor/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />

    <script>
      function fields(){
        document.getElementById('customField').disabled = false;
      }
    </script>
  </head>

  <body id="page-top">
    <div id="wrapper">
      <!-- Sidebar -->
      <%- include('partials/sidebar', { dashboard : '', payments : '',
      complaints : '', offlinePayments : 'active', fullList : '' }); %>

      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <%- include('partials/topbar', {heading: 'Offline Payments'}); %>

          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <% include ./partials/messages %>
            <p class="lead" style="color: red;"><%=success%></p>
            

            <h1 class="h4 mb-4 text-gray-800">
              Enter the Details of the Customer
            </h1>

            <form class="form-inline" method="POST" autocomplete="off">
                <div class="form-group mx-sm-3 mb-2">
                  <label for="stbNumber" class="sr-only">STB Number</label>
                  <input type="text" class="form-control" id="stbNumber" name="stb" placeholder="STB Number" required>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Check Details</button>
              </form>
              

              <div style="display: <%=displayDetails%>;">
                <div class="card shadow  mb-5 mt-3 bg-white rounded border-info">
                  <h5 class="card-header">Customer Details</h5>
                  <div class="card-body">
                    <% if(results != 'none'){
                      if(results){ %>
                    <h5 class="card-title"> Name : <%=results.Name%></h5>
                    <p class="card-text"> Address : <%=results.Address%></p>
                    <p class="card-text">Mobile : <%=results.Mobile%></p>
                    <p class="card-text">Stb No. : <%=results.Stb%></p>
                  </div>
                </div>
                
                <div class="card">
                  <h5 class="card-header">Payment Amount</h5>
                  <div class="card-body">
                    <h5 class="card-title">Select Package or Custom</h5>

                    <form action="/adminPanel/offlinePayments/savePayment" method="POST">
                      <input type="hidden" name='Stb'  value="<%=results.Stb%>">
                      <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="153" required>
                        <label class="form-check-label" for="exampleRadios1">
                          Basic Pack <i class="fas fa-rupee-sign"></i> 153
                        </label>
                      </div>
                      <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="275">
                        <label class="form-check-label" for="exampleRadios2">
                          Silver Pack <i class="fas fa-rupee-sign"></i> 275
                        </label>
                      </div>
                      <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="360">
                        <label class="form-check-label" for="exampleRadios3">
                          Gold Pack <i class="fas fa-rupee-sign"></i> 360
                        </label>
                      </div>
                      <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="454">
                        <label class="form-check-label" for="exampleRadios4">
                          Diamond Pack <i class="fas fa-rupee-sign"></i> 454
                        </label>
                      </div>
                        <div class="form-check mb-3">
                          <input type="radio" name="exampleRadios" id="customRadio" class="form-check-input" onclick=fields()>
                          <label class="form-check-label" for="customRadio" >Custom Amount</label>
                          <input type="text" class="ml-3" name="exampleField" id="customField"  disabled required />
                        </div>
                        <button type="submit" class="btn btn-primary mt-2"><i class="fas fa-save"></i> Save</button>
                      </div>
                    </form>             
                  </div>
                  <% }else{ %>
                    <h5 style="color: red;">No Customer found.</h5>
                  <% } 
                   } %>
                </div>
              </div>


          </div>
          <%- include('partials/footer'); %>
        </div>
      </div>
    </div>

    <%- include('partials/vendor'); %>

    <!-- Page level custom scripts -->
   
  </body>
</html>
