<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Regions List</title>
    <link rel="icon" href="/icon.png" type="image/x-icon">

    
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  
    <link rel="stylesheet" href="/main.css">

    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>
 
 <body id="page-top">
   <div id="wrapper">
        <!-- Sidebar -->
          <%- include('./partials/sidebar', {
            dashboard : '',
            payments : '',
            complaints : '',
            worker : '',
            region : 'active',
            offlinePayments : '',
            offlineComplaints : '',
            newStb : '',
            unpaidList : '',
            fullList : ''
          }); %>

          <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
      
              <%- include('./partials/topbar', {heading: 'Regions List'}); %>

              <!-- End of Topbar -->
      
              <!-- Begin Page Content -->
              <div class="container-fluid">
                <% include ./partials/messages %>
                <p class="lead" style="color: red;"><%=success%></p>
    

                
        <div class="row">
          <div class="card shadow mb-4 col-6">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Regions List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <!-- <th>Delete</th> -->
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <!-- <th>Delete</th> -->
                      </tr>
                  </tfoot>
                  <tbody>
                    <% if(results.length){ 
                      for(var i = 0;i < results.length;i++) { 
                        %>

                        <tr>
                          <td><%= i+1 %></td>
                          <td><%= results[i].region_name %></td>
                          <!-- <td>
                            <form action="/adminPanel/region/delete" method="POST">
                              <div>
                                <input type="hidden" name="id" value="<%= results[i].id %>">
                                <button class="btn btn-primary" onclick=confirmBtn() id="delBtn"><i class="fas fa-minus-circle"></i></button>
                              </div>
                            </form>
                          </td> -->
                        </tr>

                    <% } 
                  }else{ %>
                    <tr>
                      <td colspan="3">No Regions found</td>
                    </tr>
                  <% } %>
                    

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="container-fluid mb-4 col-5" id="addForm">
            <div class="card shadow">
                <h5 class="card-header">Add New Region</h5>
                <div class="card-body">

                  <form action="/adminPanel/region/add" method="POST">
                    <div class="form-group">
                        <label for="region_name">Region Name</label>
                        <input type="text" class="form-control" id="region_name" name="region_name" required>
                    </div>
                      <button type="submit" class="btn btn-primary mt-2"><i class="fas fa-save"></i> Save</button>
                  </form>
                    </div>    
                </div>
        </div>
        </div>

      
                
              </div>
              <%- include('./partials/footer'); %>
            </div>
            </div>
          </div>
            
      


          <%- include('./partials/vendor'); %>

            <!-- Page level plugins -->
            <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
            <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

            <!-- Page level custom scripts -->
            <script src="/scripts/datatables.js"></script>
            <script>
                function confirmBtn(){
                    var r = confirm("Are you sure you want to remove the region?");
                    if(r==true){
                        document.getElementById('delBtn').type = "submit";
                    }else{
                        document.getElementById('delBtn').type = "reset";
                    }
                }
            </script>



 </body>
 
 </html>