<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Workers Details</title>
    <link rel="icon" href="/wicon.jpg" type="image/x-icon">

    
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  
    <link rel="stylesheet" href="/main.css">

    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>
 
 <body id="page-top">
   <div id="wrapper">
        <!-- Sidebar -->
          <%- include('./partials/sidebar', {
            dashboard : '',
            payments : '',
            complaints : '',
            history : '',
            worker : 'active',
            region : '',
            offlinePayments : '',
            offlineComplaints : '',
            newStb : '',
            unpaidList : '',
            fullList : ''
          }); %>

          <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
      
              <%- include('./partials/topbar', {heading: 'Workers List'}); %>

              <!-- End of Topbar -->
      
              <!-- Begin Page Content -->
              <div class="container-fluid">
                <% include ./partials/messages %>
                <p class="lead" style="color: red;"><%=success%></p>
    

                <div class="row mx-sm-3 mb-4 align-items-center">
                    <h1 class="h4 text-gray-800">Add new worker</h1>
                    <button class="btn btn-primary ml-3 p-2" onclick=showForm()><i class="fas fa-user-plus"></i></button>
                </div>
                <div class="container-fluid mb-4" id="addForm" style="display: none;">
                    <div class="card shadow">
                        <h5 class="card-header">Worker Add Form</h5>
                        <div class="card-body">
      
                          <form action="/adminPanel/worker/add" method="POST">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="form-group">
                              <label for="name">Password</label>
                              <input type="text" class="form-control" id="password" name="password"  required>
                            </div>
                            <div class="form-group">
                                <label for="region">Region</label>
                                <input type="text" class="form-control" id="region" name="region" required>
                            </div>
                            <div class="form-group">
                                <label for="mobile">Mobile</label>
                                <input type="text" class="form-control" id="mobile" name="mobile">
                            </div>
                              <button type="submit" class="btn btn-primary mt-2"><i class="fas fa-save"></i> Save</button>
                          </form>
                            </div>    
                        </div>
                </div>
                <div class="container-fluid mb-4" id="editForm" style="display: none;">
                    <div class="card shadow">
                        <h5 class="card-header">Worker Edit Form</h5>
                        <div class="card-body">
      
                          <form action="/adminPanel/worker/edit" method="POST">
                            <input type="hidden" id="id" name="id">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="nameEdit" name="name"  required>
                            </div>
                            <div class="form-group">
                              <label for="name">Password</label>
                              <input type="text" class="form-control" id="passwordEdit" name="password"  required>
                            </div>
                            <div class="form-group">
                                <label for="region">Region</label>
                                <input type="text" class="form-control" id="regionEdit" name="region" value=region required>
                            </div>
                            <div class="form-group">
                                <label for="mobile">Mobile</label>
                                <input type="text" class="form-control" id="mobileEdit" name="mobile" value=mobile >
                            </div>
                              <button type="submit" class="btn btn-primary mt-2"><i class="fas fa-user-edit"></i> Edit</button>
                          </form>
                            </div>    
                        </div>
                </div>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Workers List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Mobile</th>
                      <th>Region</th>
                      <th>Complaints Fixed</th>
                      <th>No. Of Payments</th>
                      <th>Total Amount Paid</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th>Region</th>
                        <th>Complaints Fixed</th>
                        <th>No. Of Payments</th>
                        <th>Total Amount Paid</th>  
                        <th>Edit</th>
                        <th>Delete</th>  
                      </tr>
                  </tfoot>
                  <tbody>
                    <% if(results.length){ 
                      for(var i = 0;i < results.length;i++) { 
                        %>

                        <tr>
                          <td><%= i+1 %></td>
                          <td><%= results[i].Name %></td>
                          <td><%= results[i].Mobile %></td>
                          <td><%= results[i].Region %></td>
                          <td><%= results[i].fixedComplaints %></td>
                          <td><%= results[i].noOfPayments %></td>
                          <td><%= results[i].paymentAmount %></td>
                          <td>
                           
                           <button onclick='document.getElementById("nameEdit").value = "<%=results[i].Name%>";
                            document.getElementById("passwordEdit").value = "<%=results[i].password%>"; 
                            document.getElementById("regionEdit").value = "<%=results[i].Region%>"; 
                            document.getElementById("mobileEdit").value = "<%=results[i].Mobile%>"; 
                            document.getElementById("id").value = "<%=results[i].id%>"; 
                            var r = confirm("Do you want to continue editing the worker record?");
                            if(r==true){
                                document.getElementById("editForm").style.display="block";
                            }else{
                                document.getElementById("editForm").style.display="none";
                            }'
                            class="btn btn-primary" id="editBtn"><i class="fas fa-edit"></i></button>
                          
                          </td>
                          <td>
                            <form action="/adminPanel/worker/delete" method="POST">
                              <div>
                                <input type="hidden" name="id" value="<%= results[i].id %>">
                                <button class="btn btn-primary" onclick=confirmBtn() id="delBtn"><i class="fas fa-minus-circle"></i></button>
                              </div>
                            </form>
                          </td>
                        </tr>

                    <% } 
                  }else{ %>
                    <tr>
                      <td colspan="3">No Workers found</td>
                    </tr>
                  <% } %>
                    

                  </tbody>
                </table>
              </div>
            </div>
          </div>

      
                
              </div>
              <%- include('./partials/footer'); %>
            </div>
            </div>
          </div>
            
      


          <%- include('./partials/vendor'); %>

            <!-- Page level plugins -->
            <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
            <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

            <!-- Page level custom scripts -->
            <script src="/scripts/datatables.js"></script>

            <script>
                function showForm(){
                    document.getElementById("addForm").style.display = "block";
                }
                function confirmBtn(){
                    var r = confirm("Are you sure you want to remove the record?");
                    if(r==true){
                        document.getElementById('delBtn').type = "submit";
                    }else{
                        document.getElementById('delBtn').type = "reset";
                    }
                }
            </script>


 </body>
 
 </html>