<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Payments (Offline)</title>

    
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  
    <link rel="stylesheet" href="/main.css">

    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>
 
 <body id="page-top">
   <div id="wrapper">
        <!-- Sidebar -->
        <%- include('../partials/sidebar', {
          dashboard : '',
          payments : 'active',
          complaints : '',
          offlinePayments : '',
          fullList : ''
        }); %>

          <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
      
              <%- include('../partials/topbar', {heading: 'Payments (Offline)'}); %>

              <!-- End of Topbar -->
      
              <!-- Begin Page Content -->
              <div class="container-fluid">

                <h1 class="h4 mb-4 text-gray-800">Payments Recieved Offline</h1>

                          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Table View</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Mobile</th>
                      <th>STB No.</th>
                      <th>Amount</th>
                      <th>Package</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Mobile</th>
                      <th>STB No.</th>
                      <th>Amount</th>
                      <th>Package</th>
                      <th>Date</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <% if(results.length){ 
                      for(var i = 0;i < results.length;i++) { 
                        
                        %>

                        <tr>
                          <td><%= results[i].id %></td>
                          <td><%= results[i].Name %></td>
                          <td><%= results[i].Address %></td>
                          <td><%= results[i].Mobile %></td>
                          <td><%= results[i].Stb %></td>
                          <td><%= results[i].Amount %></td>
                          <td><%= results[i].packageOpted %></td>
                          <td><%= results[i].dateTime %></td>
                        </tr>

                    <% } 
                  }else{ %>
                    <tr>
                      <td colspan="3">No payment recieved offline %></td>
                    </tr>
                  <% } %>
                    

                  </tbody>
                </table>
              </div>
            </div>
          </div>

      
                
              </div>
              <%- include('../partials/footer'); %>
            </div>
            </div>
          </div>
            
      


          <%- include('../partials/vendor'); %>

            <!-- Page level plugins -->
            <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
            <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

            <!-- Page level custom scripts -->
            <script src="/scripts/datatables.js"></script>


 </body>
 
 </html>