<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Unpaid List (<%=results[0].region_name%>)</title>
    <link rel="icon" href="/wicon.jpg" type="image/x-icon">


    
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  
    <link rel="stylesheet" href="/main.css">

    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <script>
      function balanceFields(){
        document.getElementById('balanceField').disabled = false;
      }
    </script>
    
    <style>
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    </style>

</head>
 
 <body id="page-top">
   <div id="wrapper">
        <!-- Sidebar -->
          <%- include('../partials/sidebar', {
            dashboard : '',
            payments : '',
            complaints : '',
            worker : '',
            region : '',
            offlinePayments : '',
            offlineComplaints : '',
            newStb : '',
            unpaidList : '',
            fullList : 'active'
          }); %>

          <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
              <%- include('../partials/topbar', {heading: `Unpaid List (${results[0].region_name})`}); %>

              <!-- End of Topbar -->
      
              <!-- Begin Page Content -->
              <div class="container-fluid">
                <% include ../partials/messages %>
                <p class="lead" style="color: red;"><%=success%></p>

                <div class="container-fluid">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      <div class="row align-items-center">
                        <a href="/adminPanel/unpaidList" class="btn btn-primary mb-3 p-2"><i class="fas fa-arrow-circle-left"></i> Go Back</a>
                      </div>
                    </div>
                    <div class="col-md-4 offset-md-4">
                      <div class="row align-items-center">
                        <p class="lead mb-4 text-gray-800 mr-3">Unpaid records for this month</p>
                        <a href="/adminPanel/unpaidList/<%=region_id%>/download" class="btn btn-primary mb-3 p-2">Download <i class="fas fa-arrow-circle-down"></i></a>
    
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container-fluid mb-4" id="payForm" style="display: none;">
                  <div class="card shadow">
                      <h5 class="card-header">Payment Entry Form</h5>
                      <div class="card-body">
    
                        <form action="/adminPanel/unpaidList/<%=region_id%>/pay" method="POST">
                          <input type="hidden" name='Stb' id='Stb'>
                          <input type="hidden" name='totalBalance' id='totalBalance'>
                          <div class="form-row mb-3">
                            <div class="col">
                              <label for="name">Name</label>
                              <input type="text" class="form-control" id="name" disabled>
                            </div>
                            <div class="col">
                              <label for="address">Address</label>
                              <input type="text" class="form-control" id="address" disabled>
                            </div>
                            <div class="col">
                              <label for="mobile">Mobile</label>
                              <input type="text" class="form-control" id="mobile" disabled>
                            </div>
                            <div class="col">
                              <label for="stbDisp">Stb</label>
                              <input type="text" class="form-control" id="stbDisp" disabled>
                            </div>
                          </div>

                            <div class="form-row mb-3 align-items-center">
                              <div class="col-md-3">
                                <label class="form-check-label" for="customField" >Amount</label>
                                <input type="number" class="form-control" name="exampleField" id="customField"  required /> 
                              </div> 
                                <div class="col-md-4">
                                  <label class="form-check-label" for="duration" >Validity</label>
                                  <select class="form-control" name="duration" id="duration" required>
                                      <% for(var i=1; i<= 12 ; i++){%>
                                        <option value="<%=i%>"><%=i%> Months</option>
                                    <%}%>
                                </select>                        
                              </div>  
                              <div class="col-md-5">
                                <label class="form-check-label" for="startDate" >Start Date</label>
                                <input type="date" name="startDate" max="3000-12-31" 
                                       min="1000-01-01" class="form-control" id="startDate">
                              </div>
                              
                            </div>
                            
                            
                       
                          <div class="form-check mb-3">
                            <div class="form-row align-items-center">
                              <div class="col-4">
                                <input type="radio" name="balanceRadio" id="customRadio" class="form-check-input" onclick=balanceFields()>
                                <label class="form-check-label" for="balanceRadio" >Balance</label>
                                <input type="number" class="ml-4" name="balanceField" id="balanceField"  disabled required /> 
                              </div> 
                            </div>
                          </div>
                          
                            <button type="submit" class="btn btn-primary mt-2"><i class="fas fa-save"></i> Pay</button>
                          </div>
                        </form>  
                          </div>    
                      </div>
                </div>


                          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Table View</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Mobile</th>
                      <th>STB No.</th>
                      <th>Amount</th>
                      <th>Pay</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Mobile</th>
                      <th>STB No.</th>
                      <th>Amount</th>
                      <th>Pay</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <% if(results.length){ 
                      for(var i = 0;i < results.length;i++) { 
                        var d = new Date();
                        var totalBalance;
                        var styler="black";
                        if(results[i].balance != 0){
                          if(results[i].dateExpiry > d || results[i].Amount != 0){
                            totalBalance = results[i].balance;
                            styler="red"
                          }else{
                            totalBalance = results[i].PrevAmount + 2 * results[i].balance;
                          }
                        }else{
                          totalBalance = results[i].PrevAmount;
                        }
                        %>

                        <tr style="color:<%=styler%>">
                          <td><%= results[i].Name %></td>
                          <td><%= results[i].Address %></td>
                          <td><%= results[i].Mobile %></td>
                          <td><%= results[i].Stb %></td>
                          <td><%= totalBalance %></td>
                          <td>
                            <button class="btn btn-primary" 
                            onclick="document.getElementById('payForm').style.display = 'block'; 
                            document.getElementById('Stb').value = '<%=results[i].Stb%>';
                            document.getElementById('customField').value = '<%= totalBalance %>';
                            document.getElementById('totalBalance').value = '<%= totalBalance %>';
                            document.getElementById('name').value = '<%= results[i].Name %>';
                            document.getElementById('address').value = '<%= results[i].Address %>';
                            document.getElementById('mobile').value = '<%= results[i].Mobile %>';
                            document.getElementById('stbDisp').value = '<%= results[i].Stb %>';"
                            ><i class="fas fa-money-bill-wave"></i></button>
                          </td>
                        </tr>

                    <% } 
                  }else{ %>
                    <tr>
                      <td colspan="3">No customers found</td>
                    </tr>
                  <% } %>
                    

                  </tbody>
                </table>
              </div>
            </div>
          </div>

      
                
              </div>
              <%- include('../partials/footer'); %>
            </div>
            </div>
          </div>
            
      


          <%- include('../partials/vendor'); %>

            <!-- Page level plugins -->
            <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
            <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

            <!-- Page level custom scripts -->
            <script src="/scripts/datatables.js"></script>
            <script>
              $('#dataTable').dataTable({
                "ordering" : false
              });

              
                var myDate = document.getElementById("startDate");
                var date1 = new Date();
                myDate.valueAsDate = new Date(Date.UTC(date1.getFullYear(), date1.getMonth(), date1.getDate()));

                // var midnightUtcDate = myDate.valueAsDate;
                // var date2 = new Date(midnightUtcDate.getUTCFullYear(), midnightUtcDate.getUTCMonth(), midnightUtcDate.getUTCDate());
                          
            </script>


 </body>
 
 </html>