<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Full List (<%=results[0].region_name%>)</title>
    <link rel="icon" href="/icon.png" type="image/x-icon">


    
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  
    <link rel="stylesheet" href="/main.css">

    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>
 
 <body id="page-top">
   <div id="wrapper">
        <!-- Sidebar -->
          <%- include('../partials/sidebar', {
            dashboard : '',
            payments : '',
            complaints : '',
            worker : '',
            offlinePayments : '',
            offlineComplaints : '',
            newStb : '',
            unpaidList : '',
            fullList : 'active'
          }); %>

          <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
              <%- include('../partials/topbar', {heading: `Full List (${results[0].region_name})`}); %>

              <!-- End of Topbar -->
      
              <!-- Begin Page Content -->
              <div class="container-fluid">
                <% include ../partials/messages %>
                <p class="lead" style="color: red;"><%=success%></p>


                <div class="container-fluid">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      <div class="row align-items-center">
                        <a href="/adminPanel/fullList" class="btn btn-primary mb-3 p-2"><i class="fas fa-arrow-circle-left"></i> Go Back</a>
                      </div>
                    </div>
                    <div class="col-md-4 offset-md-4">
                      <div class="row align-items-center">
                        <p class="lead mb-4 text-gray-800 mr-3">Payment records for this month</p>
                        <a href="/adminPanel/fullList/<%=region_id%>/download" class="btn btn-primary mb-3 p-2">Download <i class="fas fa-arrow-circle-down"></i></a>
    
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container-fluid mb-4" id="editForm" style="display: none;">
                  <div class="card shadow">
                      <h5 class="card-header">Customer Edit Form</h5>
                      <div class="card-body">
    
                        <form action="/adminPanel/fullList/edit/<%=region_id%>" method="POST">
                          <input type="hidden" id="stb" name="stb">
                          <div class="form-group">
                              <label for="name">Name</label>
                              <input type="text" class="form-control" id="nameEdit" name="name"  required>
                          </div>
                          <div class="form-group">
                              <label for="address">Address</label>
                              <input type="text" class="form-control" id="addressEdit" name="address"  required>
                          </div>
                          <div class="form-group">
                              <label for="mobile">Mobile</label>
                              <input type="text" class="form-control" id="mobileEdit" name="mobile" >
                          </div>
                            <button type="submit" class="btn btn-primary mt-2"><i class="fas fa-user-edit"></i> Edit</button>
                        </form>
                          </div>    
                      </div>
              </div>


                          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Table View</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Mobile</th>
                      <th>STB No.</th>
                      <th><%=monthName%></th>
                      <th>Payment Date</th>
                      <th>Expiry Date</th>
                      <th>Edit</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Mobile</th>
                      <th>STB No.</th>
                      <th><%=monthName%></th>
                      <th>Payment Date</th>
                      <th>Expiry Date</th>
                      <th>Edit</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <% if(results.length){ 
                      for(var i = 0;i < results.length;i++) { 
                        var date = results[i].datePaid.toString().split("GMT");
                        var dateExpiry = results[i].dateExpiry.toString().split("GMT");
                        %>

                        <tr>
                          <td><%= results[i].Name %></td>
                          <td><%= results[i].Address %></td>
                          <td><%= results[i].Mobile %></td>
                          <td><%= results[i].Stb %></td>
                          <td><%= results[i].Amount %></td>
                          <td><%= date[0] %></td>
                          <td><%= dateExpiry[0] %></td>
                          <td>
                           
                            <button onclick='document.getElementById("nameEdit").value = "<%=results[i].Name%>"; 
                             document.getElementById("addressEdit").value = "<%=results[i].Address%>"; 
                             document.getElementById("mobileEdit").value = "<%=results[i].Mobile%>"; 
                             document.getElementById("stb").value = "<%=results[i].Stb%>"; 
                             var r = confirm("Do you want to continue editing the customer record?");
                             if(r==true){
                                 document.getElementById("editForm").style.display="block";
                             }else{
                                 document.getElementById("editForm").style.display="none";
                             }'
                             class="btn btn-primary" id="editBtn"><i class="fas fa-edit"></i></button>
                           
                           </td>
                        </tr>

                    <% } 
                  }else{ %>
                    <tr>
                      <td colspan="3">No customers found</td>
                    </tr>
                  <% } %>
                    

                  </tbody>
                </table>
              </div>
            </div>
          </div>

      
                
              </div>
              <%- include('../partials/footer'); %>
            </div>
            </div>
          </div>
            
      


          <%- include('../partials/vendor'); %>

            <!-- Page level plugins -->
            <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
            <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

            <!-- Page level custom scripts -->
            <script src="/scripts/datatables.js"></script>
            <script>
              $('#dataTable').dataTable({
                "ordering" : false
              });
            </script>


 </body>
 
 </html>